body {
    height:50vh;
    width:50vw;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr 0fr;
    grid-template-areas: 
    "hdr hdr"
    "tab tab"
    "inp btn";
}
h1 {
    grid-area: hdr;
}
table {
    grid-area: tab;
}
input {
    grid-area: inp;
}
button {
    grid-area: btn;
}

h1, input, button, table {
    display: flex;
    justify-content: center;
    align-items: center;
} 