* {
    box-sizing: border-box;
}
body {
    height:50px;
    width: 500px;
    margin: 0;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr auto;
    grid-template-areas: 
    "hdr hdr"
    "tab tab"
    "inp btn";
}
h1 {
    grid-area: hdr;
    background-color: aquamarine;
}
table {
    grid-area: tab;
    color: orange;
}
input {
    grid-area: inp;
}
button {
    grid-area: btn;
}

h1, input, button, table {
    display: flex;
    justify-content: center;
    align-items: center;
} 